div#contact-container {
	display: none;
	flex-direction: column;
	align-items: center;
}

div#contact-container h1 {
	font-size: 40px;
	margin-bottom: 50px;
}

div.contact-links {
	width: 100%;
	display: grid;
	/* grid-template-columns: 1fr 1fr; */
	grid-auto-flow: column;
	grid-gap: 50px;
}

a.contact {
	width: 250px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 0 25px;
	background-color: var(--window-color);
	border-radius: 30px;
	position: relative;
	transition: background-color 0.2s;
}
a.contact:hover {
	background-color: var(--selected-color);
}

a.contact img, a.contact svg {
	width: 40px;
	margin-right: 15px;
}

div#resume-container {
	outline: 1px solid white;
	width: 60vw;
	height: calc(100vh - 50px);
	display: none;
}
