nav#link-list {
	list-style: none;
	display: flex;
	background-color: var(--window-color);
	border-radius: 30px;
	height: 60px;
	width: 600px;
	margin: 50px 0;
	position: relative;
}

nav#link-list a {
	font-size: 25px;
	color: white;
	width: var(--list-element-width);
	height: var(--list-height);
	border-radius: var(--list-radius);
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	transition: color 0.15s;
	z-index: 1;
}
nav#link-list a.selected {
	color: #c2c8eb;
}

div#highlight {
	width: var(--list-element-width);
	height: var(--list-height);
	background-color: var(--selected-color);
	border-radius: var(--list-radius);
	opacity: 0;
	position: absolute;
}

@media only screen and (max-width: 671.42px) {
	nav#link-list {
		width: calc(100vw * 42 / 47);
		height: calc(100vw * 42 / 470);
		margin: calc(100vw * 7 / 94);
	}
	nav#link-list a {
		width: calc(100vw * 14 / 47);
		height: calc(100vw * 42 / 470);
		font-size: calc(100vw * 7 / 188);
	}
	div#highlight {
		width: calc(100vw * 14 / 47);
		height: calc(100vw * 42 / 470);
	}
}
@media (orientation: landscape) and (max-height: 671.42px) {
	nav#link-list {
		width: calc(100vh * 42 / 47);
		height: calc(100vh * 42 / 470);
		margin: calc(100vh * 7 / 94);
	}
	nav#link-list a {
		width: calc(100vh * 14 / 47);
		height: calc(100vh * 42 / 470);
		font-size: calc(100vh * 7 / 188);
	}
	div#highlight {
		width: calc(100vh * 14 / 47);
		height: calc(100vh * 42 / 470);
	}
}
