nav#link-list{
	list-style: none;
	display: flex;
	background-color: var(--window-color);
	border-radius: 30px;
	height: 60px;
	width: 600px;
	margin: 50px 0;
	position: relative;
}

nav#link-list a {
	font-size: 25px;
	color: white;
	width: var(--list-element-width);
	height: var(--list-height);
	border-radius: var(--list-radius);
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	z-index: 1;
}
nav#link-list a.selected {
	/* background-color: rgba(87, 100, 165, 0.2); */
	/* background-color: var(--selected-color); */
	/* outline: 3px solid #757ead; */
	/* outline-offset: -3px; */
	/* font-weight: bolder; */
	/* text-decoration: underline; */
	color: #c2c8eb;
}

div#highlight{
	width: var(--list-element-width);
	height: var(--list-height);
	background-color: var(--selected-color);
	border-radius: var(--list-radius);
	opacity: 0;
	position: absolute;
	/* outline: 8px solid var(--selected-color); */
	/* outline-offset: -8px; */
}
