div#modal-background {
	width: 100vw;
	min-height: 100vh;
	box-sizing: border-box;
	padding-bottom: 160px;
	display: none;
	flex-direction: column;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: opacity 0.25s;
	position: absolute;
	z-index: 2;
	/* overflow: auto; */
}
div.modal {
	/* width: calc(100% - 180px); */
	/* height: 50vh; */
	width: 750px;
	height: min-content;
	color: white;
	background-color: var(--page-color);
	border-radius: 30px;
	display: none;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	z-index: 3;
	/* transition: top 0.3s; */
}

.modal-main-element {
	margin-bottom: 25px;
	padding: 20px 25px;
	border-radius: var(--element-radius);
	background-color: var(--modal-body-color);
}

/* TOP IMAGE */
div.modal div.modal-image {
	/* background: url(../img/ratscrew.jpg) center; */
	/* background-size: cover; */
	width: 100%;
	height: 400px;
	border-radius: 30px 30px 0 0;
	position: relative;
}
svg.modal-exit {
	height: 25px;
	background-color: var(--modal-body-color);
	padding: 7px;
	border-radius: 32px;
	cursor: pointer;
	transition: background-color 0.2s;
	position: absolute;
	top: 15px;
	right: 15px;
}
svg.modal-exit:hover {
	background-color: var(--window-color);
}

/* BODY */
div.modal div.modal-body {
	/* height: 1000px; */
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	padding: 30px;
	/* background: url(../img/ratscrew.jpg) center; */
	/* background-size: cover; */
}
div.modal div.modal-background {
	/* background: url(../img/ratscrew.jpg) center; */
	/* background-size: cover; */
	transform: scale(1.05);
	filter: blur(30px) brightness(.9);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

/* HEADER */
div.modal header {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
div.modal h1 {
	font-size: 40px
}
div.deploy-button-container {
	display: flex;
}
a.deploy-button {
	height: 50px;
	padding: 0 20px;
	display: flex;
	align-items: center;
	border-radius: 10px;
	margin-left: 20px;
	transition: background-color .2s;
}
a.deploy-button svg {
	height: 25px;
	margin-right: 10px;
}
a.github { background-color: #3f57d9; }
a.github:hover { background-color: #3045b5; }
a.play { background-color: #439343; }
a.play:hover { background-color: #227e22; }

/* TECH ICONS */
div.modal-tech-icons {
	display: flex;
	margin-bottom: 25px;
}
div.modal-tech-icon {
	height: 60px;
	display: flex;
	align-items: center;
	border-radius: var(--element-radius);
	box-sizing: border-box;
	padding: 12px;
	margin-right: 20px;
	background-color: var(--modal-body-color);
}
div.modal-tech-icon img {
	height: 100%;
}
div.modal-tech-icon p {
	font-size: 20px;
	margin: 0 12px;
}

/* GALLERY */
div.modal-gallery {
	width: 640px;
	padding-bottom: 25px;
	display: flex;
	flex-direction: column;
}

div.modal-gallery-navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
div.left-nav, div.nav-buttons {
	display: flex;
	align-items: center;
}
div.nav-buttons div.indicator {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 9px;
}
div.indicator div.indicator-element {
	height: 6px;
	width: 35px;
	border-radius: 3px;
	background-color: var(--modal-body-color);
	transition: background-color .15s;
}
div.indicator div.indicator-element.selected {
	background-color: white;
}
p.img-toggle-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 75px;
	height: 35px;
	padding: 0 20px;
	margin-left: 20px;
	font-size: 19px;
	border-radius: 10px;
	background-color: var(--modal-body-color);
	transition: background-color .2s;
	cursor: pointer;
	user-select: none;
}
p.img-toggle-btn:hover {
	background-color: var(--modal-hover-color);
}
p.image-counter {
	display: none;
}
div.nav-buttons div.buttons {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 9px;
	margin-left: 20px;
}
div.nav-buttons button {
	width: 40px;
	height: 40px;
	font-size: 24px;
	border-radius: 20px;
	background-color: var(--modal-body-color);
}
div.modal-gallery-navbar button:hover {
	background-color: var(--modal-hover-color);
}

div.modal-gallery-images {
	display: flex;
	border-radius: 25px;
	overflow-x: hidden;
}
div.gallery-images-container {
	display: flex;
	position: relative;
	right: 0;
	transition: right 0.4s;
}
div.gallery-images-container.loop {
	display: none;
}
img.gallery-img {
	width: 196.67px;
	margin-right: 25px;
	border-radius: 25px;
	cursor: pointer;
	transition: filter, width 0.4s;
	user-select: none;
}
/* img.expanded { */
/* 	cursor: default; */
/* } */
img.collapsed:hover {
	filter: brightness(0.7);
}


/* DESCRIPTION */
div.modal-description { margin-bottom: 0 }
div.modal-description * { line-height: 25px; }
div.modal-description p {
	margin-bottom: 15px;
}
div.modal-description p.list-header {
	margin-bottom: 5px;
}
div.modal-description ul {
	list-style-position: inside;
}
div.modal-description > *:last-child {
	margin: 0;
}

@media only screen and (max-width: 990px) and (min-width: 801px) {
	div.modal {
		top: 25px;
		transition: none;
	}
}
/* When window constricts modal */
@media only screen and (max-width: 800px) {
	div.modal {
		top: calc(100vw * 25 / 800);
		width: calc(100vw * 750 / 800);
		transition: none;
	}
	div.modal div.modal-body {
		padding: calc(100vw * 3 / 80);
	}
	div.modal div.modal-image {
		height: 50vw;
	}
	.modal-main-element {
		margin-bottom: calc(100vw / 32);
		padding: calc(100vw / 40) calc(100vw / 32);
		border-radius: calc(100vw * 3 / 80);
	}
	div.modal h1 {
		font-size: calc(100vw / 20);
	}
	a.deploy-button {
		height: calc(100vw / 16);
		padding: 0 calc(100vw / 40);
		border-radius: calc(100vw / 80);
		margin-left: calc(100vw / 40);
		font-size: calc(100vw / 40);
	}
	a.deploy-button svg {
		height: calc(100vw / 32);
		margin-right: calc(100vw / 80);
	}
	div.modal-tech-icons {
		margin-bottom: calc(100vw / 32);
	}
	div.modal-tech-icon {
		height: calc(100vw * 3 / 40);
		border-radius: calc(100vw * 3 / 80);
		padding: calc(100vw * 3 / 200);
		margin-right: calc(100vw / 40);
	}
	div.modal-tech-icon p {
		font-size: calc(100vw / 40);
		margin: 0 calc(100vw * 3 / 200);
	}
}
@media (orientation: landscape) and (max-height: 800px){
	div.modal {
		top: calc(100vh * 25 / 800);
		width: calc(100vh * 750 / 800);
		transition: none;
	}
	div.modal div.modal-body {
		padding: calc(100vh * 3 / 80);
	}
	div.modal div.modal-image {
		height: 50vh;
	}
	.modal-main-element {
		margin-bottom: calc(100vh / 32);
		padding: calc(100vh / 40) calc(100vh / 32);
		border-radius: calc(100vh * 3 / 80);
	}
	div.modal h1 {
		font-size: calc(100vh / 20);
	}
	a.deploy-button {
		height: calc(100vh / 16);
		padding: 0 calc(100vh / 40);
		border-radius: calc(100vh / 80);
		margin-left: calc(100vh / 40);
		font-size: calc(100vh / 40);
	}
	a.deploy-button svg {
		height: calc(100vh / 32);
		margin-right: calc(100vh / 80);
	}
	div.modal-tech-icons {
		margin-bottom: calc(100vh / 32);
	}
	div.modal-tech-icon {
		height: calc(100vh * 3 / 40);
		border-radius: calc(100vh * 3 / 80);
		padding: calc(100vh * 3 / 200);
		margin-right: calc(100vh / 40);
	}
	div.modal-tech-icon p {
		font-size: calc(100vh / 40);
		margin: 0 calc(100vh * 3 / 200);
	}
}
