div#modal-background {
	width: 100vw;
	min-height: 100vh;
	box-sizing: border-box;
	padding-bottom: 160px;
	display: none;
	flex-direction: column;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.75);
	opacity: 0;
	transition: opacity 0.25s;
	position: absolute;
	z-index: 2;
	/* overflow: auto; */
}
div.modal {
	/* width: calc(100% - 180px); */
	/* height: 50vh; */
	width: 750px;
	height: min-content;
	color: white;
	background-color: var(--page-color);
	border-radius: 30px;
	display: none;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	top: 150px;
	z-index: 3;
	transition: top 0.3s;
}

.modal-main-element {
	margin-bottom: 25px;
	padding: 20px 25px;
	border-radius: var(--element-radius);
}

/* TOP IMAGE */
div.modal div.modal-image {
	/* background: url(../img/ratscrew.jpg) center; */
	/* background-size: cover; */
	width: 100%;
	height: 400px;
	border-radius: 30px 30px 0 0;
	position: relative;
}
svg.modal-exit {
	height: 25px;
	background-color: var(--modal-body-color);
	padding: 7px;
	border-radius: 32px;
	cursor: pointer;
	transition: background-color 0.2s;
	position: absolute;
	top: 15px;
	right: 15px;
}
svg.modal-exit:hover {
	background-color: var(--window-color);
}

/* BODY */
div.modal div.modal-body {
	/* height: 1000px; */
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	padding: 30px;
	/* background: url(../img/ratscrew.jpg) center; */
	/* background-size: cover; */
}
div.modal div.modal-background {
	/* background: url(../img/ratscrew.jpg) center; */
	/* background-size: cover; */
	transform: scale(1.05);
	filter: blur(30px) brightness(.9);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

/* HEADER */
div.modal header {
	background-color: var(--modal-body-color);
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
div.modal h1 {
	font-size: 40px
}
div.deploy-button-container {
	display: flex;
}
a.deploy-button {
	height: 50px;
	padding: 0 20px;
	display: flex;
	align-items: center;
	border-radius: 10px;
	margin-left: 20px;
	transition: background-color .2s;
}
a.deploy-button svg {
	height: 25px;
	margin-right: 10px;
}
a.github { background-color: #3f57d9; }
a.github:hover { background-color: #3045b5; }
a.play { background-color: #439343; }
a.play:hover { background-color: #227e22; }

/* TECH ICONS */
div.modal-tech-icons {
	display: flex;
	margin-bottom: 25px;
}
div.modal-tech-icon {
	height: 60px;
	display: flex;
	align-items: center;
	border-radius: var(--element-radius);
	box-sizing: border-box;
	padding: 12px;
	margin-right: 20px;
	background-color: var(--modal-body-color);
}
div.modal-tech-icon img {
	height: 100%;
}
div.modal-tech-icon p {
	font-size: 20px;
	margin: 0 12px;
}

/* GALLERY */
div.modal-gallery {
	width: 640px;
	padding-bottom: 25px;
	display: flex;
	flex-direction: column;
	background-color: var(--modal-body-color);
}

div.modal-gallery-navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
div.modal-gallery-navbar div.nav-buttons{
	display: flex;
	align-items: center;
}
div.nav-buttons div.indicator {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 9px;
}
div.indicator div.indicator-element {
	height: 6px;
	width: 35px;
	border-radius: 3px;
	background-color: var(--modal-body-color);
	transition: background-color .15s;
}
div.indicator div.indicator-element.selected {
	background-color: white;
}
div.nav-buttons div.buttons {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 9px;
	margin-left: 20px;
}
div.nav-buttons button {
	width: 40px;
	height: 40px;
	font-size: 24px;
	border-radius: 20px;
	background-color: var(--modal-body-color);
}
div.modal-gallery-navbar button:hover {
	background-color: rgba(20, 24, 45, 0.8);
}

div.modal-gallery-images {
	display: flex;
	border-radius: 25px;
	overflow-x: hidden;
}
div.gallery-images-container {
	display: flex;
	position: relative;
	right: 0;
	transition: right 0.4s;
}
div.gallery-images-container.loop {
	display: none;
}
div.modal-gallery img {
	width: 196.67px;
	margin-right: 25px;
	border-radius: 25px;
	cursor: pointer;
}
div.modal-gallery img:hover {
	filter: brightness(0.7);
}


p.modal-description {
	font-size: 20px;
	background-color: var(--modal-body-color);
	margin: 0;
}
