div#resume-container {
	--background: #eceef2;
	--backdrop: #e3e5e9;
	--subtle: #d9dadd;
	--primary: #232a35;
	--faded: #797d85;

	width: 750px;
	padding: 50px;
	display: none;
	font-size: 14px;
	color: var(--primary);
	background-color: var(--backdrop);
}

div#resume-container h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: var(--faded);
}

div#resume-container header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.8rem;
}

	div#resume-container header div.contact-info {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

div#resume-container div.item {
	margin-bottom: 1.2rem;
	padding: 0.5rem 1rem 0.75rem 1rem;
	display: flex;
	justify-content: space-between;
	border-left: 0.35rem solid var(--primary);
	background-color: var(--background);
}

div#resume-container div.item div.main {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}

	div#resume-container div.item div.item-info {
		display: flex;
		font-size: 1.1rem;
	}

		div#resume-container div.item div.item-info div {
			display: flex;
			align-items: center;
			color: var(--faded);
			margin-right: 1.3rem;
		}

			div#resume-container div.item div.item-info div *:first-child {
				margin-right: 0.6rem;
			}

			div#resume-container div.item div.item-info div img {
				height: 0.9rem;
				position: relative;
				top: 1px;
			}

	div#resume-container div.item div.main ul {
		padding-left: 0.8rem;
		/* margin-top: 0.3rem; */
	}

		div#resume-container div.item div.main ul li::marker {
			color: var(--faded);
		}

	div#resume-container div.item div.main a {
		color: darkblue;
		text-decoration: underline;
	}

	div#resume-container div.item > ul {
		width: 9.5rem;
		min-width: 8.5rem;
		padding: 0.3rem 0 0.3rem 1.8rem;
		list-style: none;
		display: flex;
		align-content: flex-start;
		justify-content: flex-end;
		flex-wrap: wrap;
		gap: 0.6rem;
	}

		div#resume-container div.item > ul li {
			/* background-color: var(--backdrop); */
			background-color: var(--subtle);
			padding: 0.125rem 0.5rem;
			border-radius: 0.25rem;
			white-space: nowrap;
			/* border-bottom: 2px solid var(--subtle); */
		}

div#resume-container div.button-container {
	z-index: 1;
	display: flex;
	justify-content: center;
	bottom: 75px;
}

div#resume-container a.button {
	font-size: 18px;
	padding: 0.5rem 1rem;
	margin: 1rem;
	background-color: var(--primary);
	border-radius: 10px;
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: white;
	cursor: pointer;
	overflow: hidden;
	user-select: none;
}
