* {
	margin: 0;
	padding: 0;
}

:root {
	--button-color: #0cf;
	--button-color-dark: #0ae;
	--list-element-width: 200px;
	--list-height: 60px;
	--list-radius: 30px;
	--page-color: #1d2240;
	--window-color: #14182d;
	--selected-color: #28305a;
}

body {
	font-family: 'Rubik', sans-serif;
	overflow-x: hidden;
}
div#main-container {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--page-color);
}

a {
	text-decoration: none;
	color: white;
	user-select: none;
}
